extends ../../components/section/section

block content
    .eight
        .eight__in
            .eight__text(data-text="Assistant and provider of financial protection in high-risk eCOM Universe") Assistant and provider of financial protection in high-risk eCOM Universe