extends ../../components/section/section

block content
    .fourth
        .fourth__in
            .fourth__text(data-text="We explore the market and carefully select top-ranked quality suppliers. We monitor orders from the very beginning and inform in advance about potential problems to avoid customers refunds and chargebacks. BNPL solution - clients pay only when package is delivered and customer is happy") We explore the market and carefully select top-ranked quality suppliers. We monitor orders from the very beginning and inform in advance about potential problems to avoid customers refunds and chargebacks. BNPL solution - clients pay only when package is delivered and customer is happy