extends ../../components/section/section

block content
    .fourth
        .fourth__in
            .fourth__text(data-text="Assistant and provider of financial protection in high-risk eCOM Universe.") Assistant and provider of financial protection in high-risk eCOM Universe.