extends ../../components/section/section

block content
    .seventh
        .seventh__in
            .seventh__shield(data-text="Мы помогаем сохранить время и деньги")
                .seventh__shield-in Мы помогаем сохранить время и деньги