extends ../../components/section/section_fast

block content
    .nine
        .nine__in 
            .nine__title(data-text="Feedback form") Feedback form
            form.nine__form
                .nine__form-item
                    input(type="text" placeholder="Name")
                .nine__form-item
                    input(type="email" placeholder="Email")
                .nine__form-item
                    input(type="text" placeholder="Message")
                .nine__form-button
                    button(type="submit")
                        span.text Send
                        span.icon
                            img(src="img/svg/arrow.svg" alt="" width="100%")