extends ../../components/section/section_fast

block content
    .second
        .second__in
            .second__text(data-text="Our commitments") Our commitments
            //- .second__name Тут пока ничего нет