.first {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: url('/img/globus.png') 50% 100%/cover no-repeat;
    &__in {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        box-sizing: border-box;
        padding: vw(170) vw(120) vw(247) vw(120);
        @media all and (max-width: 1023px) {
            padding: 102px 15px 40px;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__shield {
        width: vw(640);
        max-height: 100%;
        @media all and (min-width: 1024px) {
            display: none;
            margin: 0 auto;
            pointer-events: none;
            &.isInteractable {
                pointer-events: all;
            }
        }
        @media all and (max-width: 1023px) {
            order: 2;
            flex: 1 1 auto;
            width: 400px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        @media all and (max-width: 400px) {
            width: 320px;
        }
        @media all and (max-width: 330px) {
            // width: 320px;
            transform: translateX(-15px);
        }
    }
    &__name {
        width: vw(497);
        font-weight: 400;
        font-size: vw(46);
        line-height: vw(64);
        color: #FFFFFF;
        padding-top: vw(170);
        .Typewriter__wrapper {
            color: #FFFFFF;
        }
        @media all and (min-width: 1024px) {
            display: none;
        }
        span {
            color: #21DBEF;
        }
        @media all and (max-width: 1023px) {
            font-size: 30px;
            line-height: 36px;
            padding-top: 0;
            margin-bottom: 20px;
            width: 100%;
        }
        @media all and (max-width: 400px) and (max-height: 700px) {
            margin-bottom: 0;
            font-size: 20px;
        }
        @media all and (max-width: 400px) and (max-height: 600px) {
            margin-bottom: 0;
            font-size: 15px;
            text-align: center;
        }
    }
    &__text {
        width: vw(388);
        padding-top: vw(70);
        font-weight: 400;
        font-size: vw(34);
        line-height: 140%;
        color: #FFFFFF;
        position: relative;
        align-self: center;
        transition: height 0.5s ease;
        @media all and (min-width: 1024px) {
            display: none;
        }
        @media all and (max-width: 1023px) {
            width: 100%;
            font-size: 16px;
            padding-top: 0;            
            box-sizing: border-box;
            margin: 0 auto;
            font-weight: normal;
            margin-bottom: 20px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 130px;
            height: 210px;
        }
        @media all and (max-width: 400px) {
            bottom: 75px;
        }
    }
    &__text-in {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity .3s ease;
        &.isActive {
            opacity: 1;
        }
        @media all and (max-width: 1023px) {
            width: 210px;
            height: 210px;
            margin: 0 auto;
            text-align: center;
        }
        @media all and (max-width: 400px) {
            width: 180px;
        }
    }
    .small_shield {
        cursor: pointer;
        path {
            fill: #fff;
            transition: all .3s ease;
        }
        &.isActive,
        &:hover {
            .border {
                fill: #03C4A1;
            }
        }
    }
}