extends ../../components/section/section

block content
    .fiveth
        .fiveth__in
            .fiveth__shield(data-text="Bring clients more profit from each shipped order")
                .fiveth__shield-in Bring clients more profit from each shipped order