extends ../../components/section/section

block content
    .fiveth
        .fiveth__in
            .fiveth__shield(data-text="Мы помогаем сохранить время и деньги")
                .fiveth__shield-in Мы помогаем сохранить время и деньги