extends ../../components/section/section

block content
    .fiveth
        .fiveth__in
            .fiveth__shield(data-text="bring clients more profit from each shipped order")
                .fiveth__shield-in bring clients more profit from each shipped order