extends ../../components/section/section

block content
    .third
        .third__in
            .third__shield(data-text="Ensure clients comfortable business and save their time on orders")
                .third__shield-in Ensure clients comfortable business and save their time on orders