extends ../../components/section/section

block content
    .third
        .third__in
            .third__shield(data-text="ensure clients comfortable business and save their time on orders")
                .third__shield-in ensure clients comfortable business and save their time on orders