extends ../../components/section/section

block content
    .third
        .third__in
            .third__shield(data-text="Мы помогаем сохранить время и деньги")
                .third__shield-in Мы помогаем сохранить время и деньги