extends ../../components/section/section

block content
    .sixth
        .sixth__in
            .sixth__text(data-text="Our reputation and market share help us to get the best rates on the market and provide clients with the best deals.") Our reputation and market share help us to get the best rates on the market and provide clients with the best deals.