extends ../../components/section/section

block content
    .sixth
        .sixth__in
            .sixth__text(data-text="Assistant and provider of financial protection in high-risk eCOM Universe.") Assistant and provider of financial protection in high-risk eCOM Universe.